<div class="navBarr">
  <ul class="listIcons">
    <li class="logo">
      <button href="#" class="nav-link nav-link3" (click)="adduserPage()">
        <span class="logo-text">Users</span>
      </button>
    </li>
    <li>
      <button href="#" class="nav-link nav-link2" (click)="congesPage()">
        <span class="logo-text">Congés</span>
      </button>
    </li>

    <li>
      <button href="#" class="nav-link nav-link3" (click)="logOut()">
        <span class="link-text logo-text">Log Out</span>
      </button>
    </li>
    <li></li>
  </ul>
</div>
